<header class="flex flex-wrap justify-between items-center w-full  py-5 xl:w-[1120px] mx-auto">
    <img class="my-5 rounded-full size-12" src="https://th.bing.com/th/id/OIP.rCIYmX2XglwHif2Pee5zJAHaHa?rs=1&pid=ImgDetMain" alt="imagen que muestra foto principal">
    
    <nav class="flex flex-row flex-wrap my-5 gap-x-10 opacity-90">
        <a href="#top">Inicio</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>